.kanban {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    flex: 0 0 100%;
    border-radius: 32px;
    background-color: #2B1887;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.kanban__column {
    height: 398px;
    width: 560px;
    background-color: #D5CCFF;
    border: 40px solid #2B1887;
    boerder
    border-radius: 16px;
    padding: 10px;
}

.kanban__title {
    color: #2B1887;
    font-size: 32px;
    margin-bottom: 24px;
    padding-left: 16px;
} 

.kanban__title_and_icon {
    display: flex;
}